/*global css*/
:root{
    /*primary*/
    --light-red:hsla(0, 100%, 67%,0.1);
    --orangey-yellow:hsl(39, 100%, 56%, 0.1);
    --green-teal:hsl(166, 100%, 37%, 0.1);
    --cobalt-blue:hsl(234, 85%, 45%, 0.1);
    /*gradients (background)*/
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue:hsl(241, 81%, 54%);
    /*gradients (circle)*/
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
    /*neutral*/
    --pale-blue:hsl(221, 100%, 96%);
    --light-lavender:hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

body{
    height: 100vh;
    width: 100vw;
}
